



.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.28px;
  z-index: 2;

}

.questionContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

}

.resultContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  background-color: #e2e2e2d9;
  z-index: 2;
  border-radius: 4%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.centerBox {
  width: 100%;
  aspect-ratio: 1920/1080;
  background: url("/man-driving-car-from-rear-view.jpg") center center / cover no-repeat;
  position: relative; /* no absolute unless you really need it */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.centerBox::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.14));
  z-index: 1;
}

.infoText {
  min-height: 2em;
  text-align: center;
  margin: 0;
}

.startButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: #000;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  margin-top: 20px;
  font-size: 22px;
  font-family: Inter;
  font-style: normal;
  border-radius: 20px;
  z-index: 2;
}

.nextButton {
  background: #000000;
  color: white;
  font-size: 14px;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 2;
  border-radius: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
.nextButton:hover {
  background: #1a2128;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


.title {
  color: #1f1f1f;
  text-align: center;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #FFF;
  font-family: serif;
  font-size: 123px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin:0;
  padding-bottom:8px;
  color: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #878787;
  }
}

@media screen and (max-width: 1200px) {

  .questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: #1f1f1f;
  }

  .title {
    font-size: 80px;
  }

  .centerBox {
    width: 100%;
    aspect-ratio: 4/7;
    background: url("/car_road.jpg") center center / cover no-repeat;
  }

}