



.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
  margin-left: 10%;
  margin-right: 10%;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #878787;
  }
}

@media screen and (max-width: 1200px) {

  .questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  color: #000;
text-align: center;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #FFF;
font-family: Jaro;
font-size: x-large;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.28px;
}

.questionContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.resultContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  background-color: #e2e2e2d9;
  z-index: 2;
  border-radius: 4%;
}

.centerBox {
  width: 100%;
  aspect-ratio: 1920/1080;
  background: url("/man-driving-car-from-rear-view.jpg") center center / cover no-repeat;
  position: relative; /* no absolute unless you really need it */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoText {
  min-height: 2em;
  text-align: center;
  margin: 0;
}

.startButton {
  border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.50);
background: #000;

/* Button Shadow */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
padding: 20px;
justify-content: flex-end;
align-items: center;
color: #FFF;
margin-top: 20px;
font-size: 40px;
font-family: Inter;
font-style: normal;
}

.nextButton {
  background: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.nextButton:hover {
  background: #1a2128;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
  background 0.2s,
  color 0.2s,
  border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


.title {
  color: #000;
text-align: center;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #FFF;
font-family: Jaro;
font-size: 123px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.28px;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin:0;
  padding-bottom:8px;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
