.questionBox {
    padding: 20px;
    height: max-content;  
    height: 100%;
    padding: 2%;
    margin: 2%;
    background-color: #e2e2e2d9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .questionText {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .answerList {
    list-style: none;
    padding: 0;
    color: black;
  }
  
  .answer {
    padding: 10px;
    margin: 8px 0;
    background-color: #eee;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer:hover {
    opacity: calc(1 - 0.1);
    box-shadow: black 0px 0px 2px;
  }
  
  .correct {
    background-color: #b4f5b4;
  }
  
  .incorrect {
    background-color: #f5b4b4;
  }
  